target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/out/artifacts/LabInventoryManager_jar/controlsfx-11.1.2.jar
/out/artifacts/LabInventoryManager_jar/formsfx-core-11.6.0.jar
/out/artifacts/LabInventoryManager_jar/javafx-base-20.0.1.jar
/out/artifacts/LabInventoryManager_jar/javafx-base-20.0.1-win.jar
/out/artifacts/LabInventoryManager_jar/javafx-controls-20.0.1.jar
/out/artifacts/LabInventoryManager_jar/javafx-controls-20.0.1-win.jar
/out/artifacts/LabInventoryManager_jar/javafx-fxml-20.0.1.jar
/out/artifacts/LabInventoryManager_jar/javafx-fxml-20.0.1-win.jar
/out/artifacts/LabInventoryManager_jar/javafx-graphics-20.0.1.jar
/out/artifacts/LabInventoryManager_jar/javafx-graphics-20.0.1-win.jar
/out/artifacts/LabInventoryManager_jar/LabInventoryManager.jar
/out/artifacts/LabInventoryManager_jar_extracted_/LabInventoryManager.jar
/.idea/artifacts/LabInventoryManager_jar_extracted_.xml
/src/main/resources/META-INF/MANIFEST.MF
/out/artifacts/LabInventoryManager_jar/sqlite-jdbc-3.43.0.0.jar
/LabInventory - Backup.sqlite
